<div class="bv-container">
    <div fxLayout="column" fxFill>
      <form>
        <h3>Add your education</h3>
        <mat-form-field fxFill>
          <input 
          type="text"
          matInput 
          placeholder="College or University Name"
          name="organization"
          [(ngModel)]="userEdu.organization"
          required>
        </mat-form-field>
        <mat-form-field fxFill>
          <input 
          type="text"
          matInput 
          placeholder="Degree"
          name="degree"
          [(ngModel)]="userEdu.degree"
          required>
        </mat-form-field>
        <mat-form-field fxFill>
          <input 
          matInput 
          [matDatepicker]="startDate" 
          placeholder="Start Date"
          name="startDate"
          [(ngModel)]="userEdu.dateStart"
          required />
          <mat-datepicker-toggle 
          matSuffix 
          [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFill>
          <input 
          matInput 
          [matDatepicker]="endDate" 
          placeholder="End Date"
          name="endDate"
          [(ngModel)]="userEdu.dateEnd"
          required />
          <mat-datepicker-toggle 
          matSuffix 
          [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFill>
          <textarea 
          type="text"
          matInput 
          placeholder="Description"
          name="description"
          [(ngModel)]="userEdu.description"
          required></textarea>
        </mat-form-field>
        <div fxLayout class="bv-action-btn">
          <span class="spacer" fxFlex="80"></span>
          <button mat-button color="primary" [mat-dialog-close]="false">Cancel</button>
          <button mat-raised-button color="primary" [mat-dialog-close]="userEdu">Add</button>
        </div>
      </form>
    </div>
  </div>