<div class="bv-body">
  <mat-card fxLayout="column" fxFlex="90" fxFlexOffset="5">

    <!--Profile Image-->
    <div class="bv-container bv-first-container">
      <div fxFlex="20" fxLayoutAlign="start">
        <div>
          <img class="bv-profile-img" [src]="userDetail.imgUrl" [alt]="userDetail.fullName" />
        </div>
      </div>
      <div fxFlexOffset="1" fxFlex="80">
        <span class="bv-name">
          {{userDetail.fullName}}
          <a 
          class="bv-edit" 
          (click)="editUserDetail()"
          matTooltip="Edit Profile"
          *ngIf="isOwner && !viewPublic">
            <i class="fas fa-pencil-alt"></i>
          </a>
        </span>
        <br/>
        <span class="bv-description"> {{userDetail.shortDescription}}</span>
        <br/>
        <br/>
        <span class="bv-detail">
          <i class="fas fa-map-marker-alt"></i> {{ userDetail.location }}</span>
        <br/>
        <br/>
        <span class="bv-social">
          <a 
          class="bv-edit" 
          (click)="editUserSocial()"
          matTooltip="Edit Social Accounts"
          *ngIf="isOwner && !viewPublic">
            <i class="fas fa-pencil-alt"></i>
          </a>
          <a matTooltip="Twitter" 
          *ngIf="userSocial.twitterUrl != null" 
          [href]="'https://twitter.com/' + userSocial.twitterUrl"
          target="_blank">
            <i class="fab fa-twitter-square"></i>
          </a>
          <a matTooltip="Facebook"
          *ngIf="userSocial.fbUrl != null"
          [href]="'https://facebook.com/' + userSocial.fbUrl"
          target="_blank">
            <i class="fab fa-facebook-square"></i>
          </a>
          <a matTooltip="LinkedIn"
          *ngIf="userSocial.linkedinUrl != null"
          [href]="'https://linkedin.com/in/' + userSocial.linkedinUrl"
          target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
          <a matTooltip="Github"
          *ngIf="userSocial.githubUrl != null"
          [href]="'https://github.com/' + userSocial.githubUrl"
          target="_blank">
            <i class="fab fa-github-square"></i>
          </a>
          <a matTooltip="Dribbble"
          *ngIf="userSocial.dribbbleUrl != null"
          [href]="'https://dribbble.com/' + userSocial.dribbbleUrl"
          target="_blank">
            <i class="fab fa-dribbble-square"></i>
          </a>
          <a matTooltip="Behance"
          *ngIf="userSocial.behanceUrl !+ null"
          [href]="'https://behance.com/' + userSocial.behanceUrl"
          target="_blank">
            <i class="fab fa-behance-square"></i>
          </a>
          <a matTooltip="Medium"
          *ngIf="userSocial.mediumUrl != null"
          [href]="'https://medium.com/@' + userSocial.mediumUrl"
          target="_blank">
            <i class="fab fa-medium"></i>
          </a>
          <a matTooltip="Email" href="mailto:{{userDetail.email}}">
            <i class="fas fa-envelope-square"></i>
          </a>
          <a matTooltip="Personal Website"
          *ngIf="userSocial.websiteUrl != null"
          [href]="userSocial.websiteUrl"
          target="_blank">
            <i class="fas fa-globe"></i>
          </a>
        </span>
      </div>
    </div>

    <!--Introduction-->
    <div class="bv-container" *ngIf="userIntro.introduction != '' || (isOwner && !viewPublic)">
      <h1 class="bv-head">
        Introduction 
        <a 
        class="bv-edit" 
        (click)="editIntroduction()"
        matTooltip="Edit Introduction"
        *ngIf="isOwner && !viewPublic">
          <i class="fas fa-pencil-alt"></i>
        </a>
      </h1>
      <p class="bv-about">
        {{ userIntro.introduction }}
      </p>
    </div>

    <!--Skills-->
    <div class="bv-container" *ngIf="userSkills.length > 0 || (isOwner && !viewPublic)">
      <h1 class="bv-head">
        Skills
        <a 
        class="bv-edit" 
        (click)="editSkills()"
        matTooltip="Edit Skills"
        *ngIf="isOwner && !viewPublic">
          <i class="fas fa-pencil-alt"></i>
        </a>
      </h1>
      <mat-chip-list>
        <mat-chip 
        color="primary" 
        selected="true"
        *ngFor="let skill of userSkills">{{skill}}</mat-chip>
      </mat-chip-list>
    </div>

    <!--Experience-->
    <div class="bv-container" *ngIf="userWorkExp.length > 0 || (isOwner && !viewPublic)">
      <h1 class="bv-head">
        Work Experience
        <a 
        class="bv-edit" 
        (click)="addWorkExp()"
        matTooltip="Add New Work Experience"
        *ngIf="isOwner && !viewPublic">
          <i class="fas fa-plus-circle"></i>
        </a>
      </h1>
      <span *ngFor="let workExp of userWorkExp">
        <h3 class="bv-list-head">
            <i class="far fa-dot-circle"></i>
            {{ workExp.position }} at {{ workExp.company }}
            <a 
            class="bv-edit" 
            matTooltip="Delete"
            (click)="deleteWorkExp(workExp.index)"
            *ngIf="isOwner && !viewPublic">
              <i class="fas fa-minus-circle"></i>
            </a>
        </h3>
        <p class="bv-list-sub-head" *ngIf="!workExp.isWorking">
          {{ workExp.dateStart }} to {{ workExp.dateEnd }}
        </p>
        <p class="bv-list-sub-head" *ngIf="workExp.isWorking">
          {{ workExp.dateStart }} to Present
        </p>
        <p class="bv-list-description">
          {{ workExp.description }}
        </p>
        <br/>
      </span>
    </div>

    <!--Education-->
    <div class="bv-container" *ngIf="userEducation.length > 0 || (isOwner && !viewPublic)">
      <h1 class="bv-head">
        Education
        <a 
        class="bv-edit" 
        (click)="addEducation()"
        matTooltip="Add New Education"
        *ngIf="isOwner && !viewPublic">
          <i class="fas fa-plus-circle"></i>
        </a>
      </h1>
      <span *ngFor="let education of userEducation">
        <h3 class="bv-list-head">
          <i class="far fa-dot-circle"></i>
          {{ education.degree }} at {{ education.organization }}
          <a 
          class="bv-edit" 
          matTooltip="Delete"
          (click)="deleteEducation(education.index)"
          *ngIf="isOwner && !viewPublic">
            <i class="fas fa-minus-circle"></i>
          </a>
        </h3>
        <p class="bv-list-sub-head">{{ education.dateStart }} to {{ education.dateEnd }}</p>
        <p class="bv-list-description">
          {{ education.description }}
        </p>
        <br/>
      </span>
    </div>

    <!--Projects-->
    <div class="bv-container" *ngIf="userProjects.length > 0 || (isOwner && !viewPublic)">
      <h1 class="bv-head">
        Projects
        <a 
        class="bv-edit" 
        (click)="addProject()"
        matTooltip="Add New Project"
        *ngIf="isOwner && !viewPublic">
          <i class="fas fa-plus-circle"></i>
        </a>
      </h1>
      <span *ngFor="let project of userProjects">
        <h3 class="bv-list-head">
          <i class="far fa-dot-circle"></i>
          <a 
          [href]="project.url.length > 0 ? project.url : '#'"
          target="_blank">
            {{ project.name }}
          </a>
          <a 
          class="bv-edit" 
          matTooltip="Delete"
          (click)="deleteProject(project.index)"
          *ngIf="isOwner">
            <i class="fas fa-minus-circle"></i>
          </a>
        </h3>
        <p class="bv-list-sub-head">One Line Description Here</p>
        <p class="bv-list-description">
          {{ project.description }}
        </p>
        <br/>
      </span>
    </div>
  </mat-card>
</div>