<div class="bv-container">
  <div fxLayout="column" fxFill>
    <form>
      <h3>Introduction</h3>
      <mat-form-field fxFill>
        <textarea 
        type="text"
        matInput 
        placeholder="Tell Something About Yourself in One Paragraph"
        required></textarea>
      </mat-form-field>
      <div fxLayout class="bv-action-btn">
        <span class="spacer" fxFlex="80"></span>
        <button mat-button color="primary" [mat-dialog-close]="true">Cancel</button>
        <button mat-raised-button color="primary">Update</button>
      </div>
    </form>
  </div>
</div>