<div class="header">
  <div fxLayout>
    <div fxFlex="100">
      <p class="main-heading">Blockvitae</p>
      <p class="sub-heading">A Decentralized Blockchain Based Portfolio</p>
      <div class="button-row">
        <a mat-raised-button 
        color="accent" 
        class="bold-text"  
        routerLink="/signup">Create My Portfolio</a>
      </div>
    </div>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="40" fxFlex.sm = "80" fxFlex.xs="80">
      <h1 align="center">What is Blockvitae?</h1>
      <p align="center" class="sub-head-text">Blockvitae is a decentralized portfolio application built on the top of 
          blockchain technology - the same concept that powers cryptocurrencies like Bitcoin.
      </p>
  </div>
</div>