<div fxLayout="column" fxFill fxLayoutAlign="center center">
  <h3>Please Wait While We Connect To ETH Blockchain...</h3>
  <h3>Transaction Processing...</h3>
  <mat-spinner diameter="50"></mat-spinner>
  <p>ETH transactions sometimes take as long as 15 seconds or more to complete.
    You can check the status of the transaction in your Metamask browser extension. 
    Please click <strong>Submit</strong> on the Metmask Popup if you want to 
    continue the transaction. If you decide to discontinue, click Reject and 
    then refresh the page.</p>
</div>