/* You can add global styles to this file, and also import other style files */
@import './theme/blockvitae-theme.scss';

/* Global */
body {
    margin: 0;
}

*{
    font-family: 'Montserrat', sans-serif;
}

.bold-text {
    font-size: 0.9em !important;
    font-weight: 500;
}

.error {
    color: mat-color($blockvitae-theme-warn);
}